<mat-nav-list>

    <h2 matSubheader>
        Pages 
    </h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon class="material-icons-outlined">dashboard</mat-icon>
        Dashboard
    </a>
    
    <mat-divider></mat-divider>
    
    <h2 matSubheader>
        Administration
    </h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/users">
        <mat-icon class="material-icons-outlined">manage_accounts</mat-icon>
        Users
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/configs">
        <mat-icon class="material-icons-outlined">settings</mat-icon>
        Application Configs
    </a>
    


</mat-nav-list>


