mat-card {
  overflow: hidden;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-dialog-actions {
  justify-content: center;
}

app-blocked-pill-tag {
  margin-left: 5px;
}

.grid-select {
  max-width: 70px;
}
