<div class="upload tw-flex tw-items-center tw-justify-center">
  <div class="tw-flex upload2">
    <div class="upload3">
      @if (!fileSelected) {
        <ngx-file-drop
          dropZoneLabel="Drop files here"
          (onFileDrop)="dropped($event)"
          accept=".png,.jpeg,.jpg"
          [directory]="false"
          [multiple]="false"
        >
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <div class="tw-flex tw-flex-col">
              @if (!fileLoading) {
                <div class="tw-flex-1">
                  <h4 class="dragndrop" i18n="Logo|Item logo">Logo</h4>
                  <span class="dragndrop" i18n="Dnd|Drang and drop indicator">Drag and drop or </span>
                  <span class="fileBrowse" (click)="openFileSelector()" i18n="Browse files|Browse your local files"
                    >browse files</span
                  >
                </div>
              }
              @if (fileLoading) {
                <div class="tw-flex-1">
                  <mat-spinner [diameter]="50"></mat-spinner>
                </div>
              }
            </div>
          </ng-template>
        </ngx-file-drop>
      }

      @if (fileSelected) {
        <img id="previewImage" [src]="previewSource" class="tw-flex-1" />
      }
      @if (fileSelected) {
        <button class="delete" type="button" mat-mini-fab color="accent" (click)="resetImage()">
          <mat-icon>close</mat-icon>
        </button>
      }
    </div>
  </div>
</div>
