:host {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  padding-top: 0;
}

mat-card {
  min-width: 380px;
}

mat-form-field,
mat-checkbox {
  margin-top: 20px;
}
.button {
  min-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-divider {
  margin-left: -16px;
  margin-right: -16px;
}

mat-form-field {
  max-width: 412px;
}
