:host {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  padding-top: 0;
  align-items: center;
}

mat-card {
  min-width: 380px;
  max-width: 768px;
  width: 100%;
}

mat-divider {
  margin-left: -16px;
  margin-right: -16px;
}
