**/node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
.vs
bin
obj
**/bin
**/obj
**/out
**/bin/**/*
**/obj/**/*
**/out/**/*
**/.devspace/**/*
**/.vs/
**/*.trx
**/*.md
**/*.ps1
**/*.cmd
**/*.sh
.husky
**/dist/
**/build/
