<div>
  <mat-card appearance="outlined" class="container">
    <mat-card-header>
      <mat-card-title i18n="Job executions|List of jobs">Job executions</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="table-container tw-mt-4">
        @if (((dataSource$ | async) && (projects$ | async)) || true) {
          <app-filtered-paginated-table
            [dataSource]="dataSource"
            (pageChange)="pageChange($event)"
            [isLoading]="dataLoading"
            [length]="count"
            [columns]="displayColumns"
            [filterOptions]="filterOptions"
            [routerLinkPrefix]="'/jobs/executions/'"
            (filtersChange)="filtersChange($event)"
            [noDataMessage]="noDataMessage"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef i18n="Name|Name of an item">Name</th>
              <td mat-cell *matCellDef="let element">
                <div class="name-cell">
                  <app-job-state [state]="element.state"></app-job-state>
                  <div>
                    <div>{{ element.task }}</div>
                    <div class="execution-info"><job-logs-summary [job]="element"></job-logs-summary></div>
                  </div>
                </div>
              </td>
            </ng-container>
            <!-- Project Column -->
            <ng-container matColumnDef="project">
              <th mat-header-cell *matHeaderCellDef i18n="Project|A business">Project</th>
              <td mat-cell *matCellDef="let element">
                <project-cell [project]="projects | whereId: [element.projectId]"></project-cell>
              </td>
            </ng-container>
            <!-- Time Column -->
            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                @if (element.endTime) {
                  <div>
                    <div i18n="Started|Started x days ago">Started {{ element.endTime | timeAgo }}</div>
                    <div i18n="Took|Took x seconds">Took {{ element.endTime - element.endTime | humanize }}</div>
                  </div>
                } @else {
                  <div i18n="Started|Started x days ago">Started {{ element.startTime | timeAgo }}</div>
                }
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          </app-filtered-paginated-table>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
