table {
  width: 100%;
}

.table-container {
  margin: 0 -16px -16px -16px;
}

.mat-column-time {
  text-align: right;

  &.mat-cell {
    font-size: 0.9em;
    line-height: 1.2em;
    color: rgba(0, 0, 0, 0.5);
  }
}
