.flex-title {
  display: flex;
  padding-top: 14px;
}

.help-link {
  padding: 0 !important;
  display: flex;
  line-height: normal;
  height: fit-content;
}

.main-content {
  padding-bottom: 0px !important;
}

mat-dialog-actions {
  .item-left {
    padding-right: 10px;
    display: flex;
    flex-direction: row-reverse;
  }

  .item-right {
    padding-left: 10px;
  }
}

.max-width {
  width: 50%;
  // max 6 lines, at some point it kinda breaks the table
  .contain-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}

.explanationText {
  max-width: 1000px;
  text-align: justify;
}
