.table-container {
  margin: 0 -16px -16px -16px;
}

table {
  width: 100%;
}

.container {
  margin-bottom: 40px;
}

.center-column-content {
  text-align: center;
}

.rows {
  cursor: pointer;
}

.rows:hover {
  background-color: rgb(243, 243, 243);
}

.check-box-cell {
  cursor: default;
}
