.mat-column-domainName {
  max-width: 150px;
  width: 150px;
}

.mat-column-port {
  max-width: 70px;
  width: 70px;
}

.mat-column-portHost,
.mat-column-hostIp {
  max-width: 175px;
  width: 175px;
}

.mat-column-websiteUrl {
  max-width: 275px;
  width: 275px;
}
