@mixin app-filtered-paginated-table() {
  app-filtered-paginated-table {
    table .rows {
      cursor: pointer;
    }

    table .rows:hover {
      background-color: rgb(243, 243, 243);
    }

    .filter-chip-list .mat-form-field-wrapper {
      margin-bottom: -18px;
    }
  }
}
