@mixin app-filtered-paginated-table() {
  app-filtered-paginated-table {
    table .rows {
      cursor: pointer;
      label {
        cursor: pointer;
      }
      span {
        cursor: pointer;
      }
    }

    table .rows:hover {
      background-color: var(--mat-table-background-color-hover);
    }
  }
}
