.table-container {
  margin: 0 -16px -16px -16px;
}

table {
  width: 100%;
}

.container {
  margin-bottom: 40px;
}

.center-column-content {
  text-align: center;
}

.check-box-cell {
  cursor: default;
}

.nodata {
  text-align: center;
}

.filter-chip-list {
  width: 100%;
}

.mat-column-select {
  width: 56px;
  max-width: 56px;
}
