.table-container {
  margin: 0 -16px -16px -16px;
}

table {
  width: 100%;
}

.container {
  margin-bottom: 40px;
}

.center-column-content {
  text-align: center;
}

.check-box-cell {
  cursor: default;
}

.nodata {
  text-align: center;
  height: 48px;
}

.filter-chip-list {
  width: 100%;
}

.mat-column-select {
  width: 48px;
  max-width: 48px;
  overflow: visible;
}

mat-progress-bar {
  height: 3px;
  width: auto;
}

.date-picker-form {
  min-width: fit-content;
}

mat-hint {
  button:hover {
    text-decoration: underline;
  }
}
