.mat-column-select {
  width: 48px;
  max-width: 48px;
  overflow: visible;
}

.mat-column-menu {
  width: 64px;
  max-width: 64px;
  overflow: visible;
}

.center-column-content {
  text-align: center;
}

.check-box-cell {
  cursor: default;
}

.nodata {
  text-align: center;
  height: 48px;
}
