.mat-icon {
  vertical-align: middle;
  margin-right: 0px;
}

span {
  margin-left: 16px;
  margin-right: 16px;
}

h3 {
  margin: 8px 0px 4px 16px;
}

.list-item-active {
  &::before {
    background-color: var(--mdc-list-list-item-focus-state-layer-color);
    opacity: 0.1;
  }
}
