<mat-card>
  <h1 i18n="Hosts|Hosts">Hosts</h1>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="openNewHostsDialog(addHostsDialog)">
      <mat-icon class="material-icons-outlined">add</mat-icon>
      <label i18n="Add hosts|Add a new hosts to a company">Add Hosts</label>
    </button>
  </div>

  <button mat-raised-button color="warn" class="left-action-button" (click)="deleteHosts()">
    <mat-icon class="material-icons-outlined"> delete_outline </mat-icon>
    <label i18n="Delete|Delete an item">Delete</label>
  </button>

  <app-filtered-paginated-table
    *ngIf="((dataSource$ | async) && (companies$ | async) && (tags$ | async)) || true"
    [dataSource]="dataSource"
    (pageChange)="pageChange($event)"
    [isLoading]="dataLoading"
    [length]="count"
    [columns]="displayColumns$ | async"
    [filterOptions]="filterOptions"
    [routerLinkPrefix]="'/hosts/'"
    (filtersChange)="filtersChange($event)"
    (selectionChange)="selection = $event"
  >
    <!-- Ip Column -->
    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef i18n="Ip|An Ip address">Ip</th>
      <td mat-cell *matCellDef="let element">
        {{ element.ip }}
      </td>
    </ng-container>

    <!-- Domain Column -->
    <ng-container matColumnDef="domains">
      <th mat-header-cell *matHeaderCellDef i18n="Domain|A domain name">Domain</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let domain of element.domains; let last = last"
          >{{ domain.name }}{{ !last ? ', ' : '' }}</ng-container
        >
      </td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef i18n="Company|A business">Company</th>
      <td mat-cell *matCellDef="let element">
        {{ (companies | whereId : [element.companyId])?.name }}
      </td>
    </ng-container>

    <!-- Tags Column -->
    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef i18n="Tags|Multiple tags describing somthing">Tags</th>
      <td mat-cell *matCellDef="let element">
        <app-pill-tag *ngFor="let tag of element.tags" [color]="(tags | whereId : [tag])?.color">{{
          (tags | whereId : [tag])?.text
        }}</app-pill-tag>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns$ | async"></tr>
  </app-filtered-paginated-table>
</mat-card>

<!-- Add Host Dialog Template -->
<ng-template #addHostsDialog>
  <h1 mat-dialog-title i18n="Add hosts|Add a new host to a company">Add Hosts</h1>

  <mat-dialog-content>
    <mat-form-field>
      <mat-label i18n="Company|Company or business">Company</mat-label>
      <mat-select [(value)]="selectedCompany">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let company of companies$ | async" value="{{ company.id }}">{{ company.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label i18n="Hosts|A list of hosts">Hosts</mat-label>
      <textarea
        [(ngModel)]="selectedNewHosts"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="8"
        cdkAutosizeMaxRows="20"
        placeholder="One host per line, ex:
255.255.255.255
127.0.0.1"
        i18n-placeholder="One host per line|Tells the user to enter exactly one host per line"
      ></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="addNewHosts()" i18n="Add hosts|Add a new hosts to a company">
      Add hosts
    </button>
    <button mat-raised-button color="warn" matDialogClose i18n="Cancel|Cancel an action">Cancel</button>
  </mat-dialog-actions>
</ng-template>
