mat-card {
  overflow: hidden;
}

app-pill-tag {
  margin-right: 10px;
}

.actions {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}
