<div *ngIf="domain" fxLayout="column">
  <h2 i18n="Domain|A domain name object">
    Domain (<a [routerLink]="['/domains/', domain._id]">{{ domain.name }}</a
    >)
  </h2>

  <mat-divider class="horizontal-divider"></mat-divider>

  <div class="drawer-item" fxFlex>
    <h2 class="fake-mat-subheader" i18n="Tags|The tags of an item">Tags</h2>
    <div fxLayout="row" fxLayoutAlign="center" *ngIf="!domain || !domain.tags || domain.tags.length === 0">
      <div>
        <p i18n="No tags found|No tags were found for this item" fxFlex>No tags found</p>
      </div>
    </div>
    <div fxLayout="row">
      <div>
        <app-pill-tag *ngFor="let tag of domain?.tags" [color]="tag.color">{{ tag.text }}</app-pill-tag>
      </div>
    </div>
  </div>

  <mat-divider class="horizontal-divider" fxFlex></mat-divider>
  <div fxFlex>
    <div class="drawer-item" fxLayout="column">
      <h2 class="fake-mat-subheader" i18n="Hosts|The hosts of a domain" fxFlex>Hosts</h2>
      <div fxFlex>
        <div class="table-container-domain" *ngIf="domain.hosts" fxFlex>
          <table mat-table [dataSource]="domain.hosts">
            <ng-container matColumnDef="hostIp">
              <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
            </ng-container>
            <tr
              mat-row
              *matRowDef="let row; columns: ['hostIp']; let i = index"
              class="rows rows-cursor"
              [class.first-cell]="i === 0"
              routerLinkActive="list-item-active"
              [routerLink]="['/hosts/', row.id]"
            ></tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <mat-divider class="horizontal-divider" fxFlex></mat-divider>

  <div class="drawer-item last-drawer-item" fxFlex>
    <h2 class="fake-mat-subheader" i18n="General|Generic information title">General</h2>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label i18n="Company|A business">Company</mat-label>
      <input
        matInput
        i18n-placeholder="Company|A business"
        placeholder="Company"
        name="company"
        readonly="true"
        [value]="company?.name"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width notes">
      <mat-label i18n="Notes|Notes about an item">Notes</mat-label>
      <textarea readonly="true" matInput cdkTextareaAutosize cdkAutosizeMinRows="8" cdkAutosizeMaxRows="20">{{
        domain?.notes
      }}</textarea>
    </mat-form-field>
  </div>
</div>
