<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex.gt-sm="90" class="container" fxFlex.lt-md="100">
    <h1 i18n="Domains|Domain names">Domains</h1>
    <app-filtered-paginated-table
      *ngIf="((dataSource$ | async) && (companies$ | async) && (tags$ | async)) || true"
      [dataSource]="dataSource"
      (pageChange)="pageChange($event)"
      [isLoading]="dataLoading"
      [length]="count$ | async"
      [columns]="displayColumns$ | async"
      [filterOptions]="filterOptions"
      [routerLinkPrefix]="'/domains/'"
      (filtersChange)="filtersChange($event)"
    >
      <!-- Domain Column -->
      <ng-container matColumnDef="domain">
        <th mat-header-cell *matHeaderCellDef i18n="Domain|A domain name">Domain</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Hosts Column -->
      <ng-container matColumnDef="hosts">
        <th mat-header-cell *matHeaderCellDef i18n="Hosts|Multiple server hosts">Hosts</th>
        <td mat-cell *matCellDef="let element">
          <div class="host-container" fxLayout="column">
            <div *ngFor="let host of element.hosts; let i = index">
              <label *ngIf="i <= 5" fxFlex>{{ host.ip }}</label>
              <label *ngIf="i === 6" fxFlex>...</label>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Company Column -->
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef i18n="Company|A business">Company</th>
        <td mat-cell *matCellDef="let element">{{ (companies | whereId: [element.companyId])?.name }}</td>
      </ng-container>

      <!-- Tags Column -->
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef i18n="Tags|Multiple tags describing somthing">Tags</th>
        <td mat-cell *matCellDef="let element">
          <app-pill-tag *ngFor="let tag of element.tags" [color]="(tags | whereId: [tag])?.color">{{
            (tags | whereId: [tag])?.text
          }}</app-pill-tag>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns$ | async"></tr>
    </app-filtered-paginated-table>
  </mat-card>
</div>
