@if (data.title) {
  <h1 mat-dialog-title>{{ data.title }}</h1>
}
@if (data.text || data.listElements?.length) {
  <div mat-dialog-content>
    {{ data.text }}
    @if (data.listElements?.length) {
      <ul>
        @for (line of data.listElements; track line) {
          <li>{{ line }}</li>
        }
      </ul>
    }
  </div>
}
<div mat-dialog-actions>
  @if (data.primaryButtonText != '') {
    <button mat-raised-button color="primary" (click)="primaryClick()">
      {{ data.primaryButtonText }}
    </button>
  }
  @if (data.dangerButtonText != '') {
    <button mat-raised-button color="warn" (click)="dangerClick()">
      {{ data.dangerButtonText }}
    </button>
  }
</div>
