@if (data.title) {
  <h1 mat-dialog-title>{{ data.title }}</h1>
}
@if (data.text || data.listElements?.length) {
  <div mat-dialog-content>
    {{ data.text }}
    @if (data.listElements?.length) {
      <ul>
        @for (line of data.listElements; track line) {
          <li>{{ line }}</li>
        }
      </ul>
    }
  </div>
}
<div mat-dialog-actions [align]="'end'" class="tw-flex tw-gap-2">
  @if (data.primaryButtonText != '') {
    <app-spinner-button (click)="primaryClick()" [loadingState]="primaryLoading">
      {{ data.primaryButtonText }}
    </app-spinner-button>
  }
  @if (data.dangerButtonText != '') {
    <app-spinner-button (click)="dangerClick()" buttonColor="warn" [loadingState]="dangerLoading">
      {{ data.dangerButtonText }}
    </app-spinner-button>
  }
</div>
