.code-editor-container {
  width: 100%;
  height: 100%;
  display: inline-block;
}

app-code-editor {
  height: 100%;
  width: 100%;
}

.left-action-button {
  margin: 10px 20px 20px 0px;
}

.right-action-button {
  margin: 10px 0px 20px 20px;
}

.container {
  margin-right: 20px;
}

.nodata {
  text-align: center;
}

.table-container {
  margin: 0 -16px -16px -16px;
}

table {
  width: 100%;
}

.rows:hover {
  background-color: rgb(243, 243, 243);
}

.rows {
  cursor: pointer;
}

.selected-subscription {
  font-weight: bold;
}

.full-width {
  width: 100%;
}

mat-tab-group {
  height: 100%;
}

.configurations-form {
  margin-top: 10px;
}

.centered {
  text-align: center;
}
