<mat-drawer-container class="tw-h-full tw-w-full" [autosize]="true">
  <mat-drawer-content class="tw-h-full">
    <div class="tw-flex tw-flex-col tw-h-full">
      <div class="tw-flex tw-items-center tw-px-4 tw-gap">
        <app-page-header
          [parts]="['Subscriptions', (subscription$ | async)?.name || 'My new subscription']"
          [backRoute]="['/jobs/subscriptions']"
        ></app-page-header>

        @if (canSave) {
          <app-spinner-button class="tw-mt-[9px]" [loadingState]="isSaving" i18n="Save changes|Save" (click)="save()"
            >Save</app-spinner-button
          >
        }

        @if (hasBeenSaved && !canSave) {
          <mat-icon class="tw-text-green-600 tw-text-[16px] tw-mt-[20px]">check_circle</mat-icon>
        }
      </div>

      <div class="code-editor-container">
        <app-code-editor
          [(code)]="code"
          [language]="'yaml'"
          [minimapEnabled]="false"
          [theme]="theme"
          [readonly]="false"
          (saveEvent)="save()"
          [path]="'/subcriptions/subscription.yaml'"
        ></app-code-editor>
      </div>
    </div>
  </mat-drawer-content>

  <mat-drawer mode="side" position="end" opened>
    <h2 i18n="Configuration|Subscription configuration">Configuration</h2>
    @if (companies$ | async) {
      <form [formGroup]="subscriptionConfigForm" class="tw-w-full configurations-form">
        <mat-form-field appearance="outline" class="tw-w-full">
          <mat-label i18n="Company|Company or business">Company</mat-label>
          <mat-select formControlName="selectedCompany">
            <mat-option i18n="All Companies|Select all companies" value="all companies">All Companies</mat-option>
            @for (company of companies$ | async; track company) {
              <mat-option value="{{ company.id }}">{{ company.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
    }
  </mat-drawer>
</mat-drawer-container>
