:host {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 0;
  align-items: center;
}

.code-editor-container {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  padding: 16px;
  padding-top: 0;
}

app-code-editor {
  height: 100%;
  width: 100%;
}

mat-drawer {
  padding: 16px;
  width: 324px;
}

.configurations-form {
  margin-top: 10px;
}
