<div fxLayout="row" class="code-editor-container">
  <div fxFlex="45">
    <mat-card class="container">
      <h1 i18n="Subscriptions|Findings Event Subscriptions">Subscriptions</h1>
      <form [formGroup]="subscriptionTypeForm" class="full-width configurations-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label i18n="Subscription type|The type of subscriptions">Subscription type</mat-label>
          <mat-select formControlName="subscriptionType">
            <mat-option *ngFor="let subType of subscriptionTypes" value="{{ subType.value }}">{{
              subType.text
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div fxLayout="row">
        <button mat-raised-button color="primary" class="left-action-button" (click)="newSubscriptionClick()">
          <label i18n="New subscription|Button to create a new subscription">New subscription</label>
        </button>
        <button mat-raised-button color="warn" class="left-action-button" (click)="delete()">
          <label i18n="Delete|Delete an item">Delete</label>
        </button>
        <div fxLayoutAlign="end" fxFlex>
          <button
            *ngIf="selectedRow?.builtIn"
            mat-raised-button
            color="primary"
            class="right-action-button"
            (click)="revertToDefault()"
          >
            <label i18n="Revert to default|Revert to default values">Revert to default</label>
          </button>
          <button mat-raised-button color="primary" class="right-action-button" (click)="saveSubscriptionEdits()">
            <label i18n="Save|Save the information">Save</label>
          </button>
        </div>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="dataSource" *ngIf="(dataSource$ | async) || true">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef i18n="Name|Name of an item">Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Finding Event Column -->
          <ng-container matColumnDef="finding" *ngIf="subscriptionTypeContext === eventSubscriptionContext">
            <th mat-header-cell *matHeaderCellDef i18n="Finding Event|Finding Event">Finding Event</th>
            <td mat-cell *matCellDef="let element">{{ element.finding }}</td>
          </ng-container>

          <!-- Cron Expression Column -->
          <ng-container matColumnDef="cronExpression" *ngIf="subscriptionTypeContext === cronSubscriptionContext">
            <th mat-header-cell *matHeaderCellDef i18n="Cron Expression|Cron Expression">Cron Expression</th>
            <td mat-cell *matCellDef="let element">{{ element.cronExpression }}</td>
          </ng-container>

          <!-- Job Column -->
          <ng-container matColumnDef="job">
            <th mat-header-cell *matHeaderCellDef i18n="Job|Job, task">Job</th>
            <td mat-cell *matCellDef="let element">
              {{ element.job.name }}
            </td>
          </ng-container>

          <!-- Source Column -->
          <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef i18n="Source|Source of the content" class="centered">Source</th>
            <td mat-cell *matCellDef="let element" class="centered">
              <mat-icon
                matTooltip="Custom"
                matTooltip-i18n="Custom|Customized element"
                *ngIf="!element.builtIn"
                class="material-icons-outlined"
                >precision_manufacturing</mat-icon
              >
              <img
                *ngIf="element.builtIn"
                matTooltip="Stalker"
                width="25"
                src="assets/red-kite-logo-only-color-circle.png"
                alt="Stalker"
              />
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="
              subscriptionTypeContext === eventSubscriptionContext
                ? ['name', 'finding', 'job', 'source']
                : ['name', 'cronExpression', 'job', 'source']
            "
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: subscriptionTypeContext === eventSubscriptionContext
                ? ['name', 'finding', 'job', 'source']
                : ['name', 'cronExpression', 'job', 'source']
            "
            class="rows"
            (click)="selectSubscription(row)"
            [class.selected-subscription]="selectedRow?._id === row._id"
          ></tr>

          <tr class="mat-row nodata" *matNoDataRow>
            <td class="mat-cell" colspan="100%" i18n="No subscription found|No subscriptions were found">
              No subscription found
            </td>
          </tr>
        </table>

        <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50, 100]"
          showFirstLastButtons
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </mat-card>
  </div>
  <div fxFlex="55" *ngIf="companies$ | async">
    <div fxLayout="column" class="code-editor-container">
      <mat-tab-group>
        <mat-tab label-i18n="Configurations|Settings for an item" label="Configurations">
          <form [formGroup]="subscriptionConfigForm" class="full-width configurations-form">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label i18n="Company|Company or business">Company</mat-label>
              <mat-select formControlName="selectedCompany">
                <mat-option i18n="All Companies|Select all companies" value="all companies">All Companies</mat-option>
                <mat-option *ngFor="let company of companies$ | async" value="{{ company.id }}">{{
                  company.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label-i18n="Code|Programming language code" label="Code" class="code-editor-container">
          <div class="code-editor-container">
            <app-code-editor
              [(code)]="code"
              [language]="language"
              [minimapEnabled]="minimapEnabled"
              [theme]="theme"
              [readonly]="readonly"
              (saveEvent)="saveSubscriptionEdits()"
            ></app-code-editor>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
