.title {
  display: flex;

  h1 {
    flex: 1;
  }

  button {
    opacity: 0.35;
    color: black;

    margin-right: -10px;
    margin-top: -6px;
  }
}

.code-editor-container {
  width: 100%;
  height: 100%;
  display: inline-block;
}

app-code-editor {
  height: 100%;
  width: 100%;
}

.left-action-button {
  margin: 10px 20px 20px 0px;
}

.right-action-button {
  margin: 10px 0px 20px 10px;
}

.container {
  margin-right: 20px;
}

.nodata {
  text-align: center;
}

.table-container {
  margin: 0 -16px -16px -16px;
}

table {
  width: 100%;
}

.rows:hover {
  background-color: rgb(243, 243, 243);
}

.rows {
  cursor: pointer;
}

.selected-job {
  font-weight: bold;
}

.job-name-form {
  width: 100%;
  margin-top: 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-tab-group {
  height: 100%;
}

.job-pod-config-selection {
  background-color: transparent;
  border-width: 0.1em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  padding: 10px;
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card-header {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 10px;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card-content {
    width: 100%;
    & > div {
      width: 100%;
      overflow: scroll;
      display: flex;
      min-height: fit-content;
      padding-bottom: 7px;
      /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
      mat-card {
        float: left;
        margin: 0px 10px 5px 10px;
        text-align: center;
        flex: 0 0 100px;
        min-width: fit-content;
        max-height: 200px;
        height: auto;
        cursor: pointer;
        border-width: 0.15em;
        border-style: solid;
        border-color: transparent;
        transition: border-color 0.15s;
        padding: 13px;

        label {
          display: block;
          cursor: pointer;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        &:hover {
          border-color: black;
        }

        &.selected-config {
          border-color: rgba(63, 81, 181);
        }

        .job-pod-config-title {
          font-weight: bold;
          margin-bottom: 3px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
