@mixin app-text-select-menu() {
  .app-text-select-menu-container {
    // Preventing the menu from taking the whole page
    // !important is required
    max-height: calc(60vh - 48px) !important;
    overflow: scroll;
  }
  .app-text-select-menu-search-container {
    .mat-mdc-form-field {
      padding-top: 5px;

      .mat-mdc-text-field-wrapper {
        padding-bottom: 5px;
      }
    }
  }
}
