@mixin app-text-select-menu() {
  .app-text-select-menu-container {
    // Preventing the menu from taking the whole page
    // !important is required
    max-height: calc(60vh - 48px) !important;
    overflow: scroll;
    .app-text-select-menu-search-container {
      .mat-form-field {
        padding-top: 5px;
        .mat-form-field-wrapper {
          padding-bottom: 5px;
          .mat-form-field-outline {
            height: 40px;
            font-size: xx-small;
          }
          .mat-form-field-infix {
            padding-top: 8px;
            padding-bottom: 8px;
            border-top-width: 5px;
          }
        }
      }
    }
  }
}
