<app-text-menu [buttonText]="buttonText" [xPosition]="'before'" [containerElement]="containerElement">
  @if (filterEnabled) {
    <div
      class="app-text-select-menu-search-container"
      (click)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()"
    >
      <mat-form-field class="search-item" appearance="outline">
        <mat-label>{{ filterText }}</mat-label>
        <input matInput [(ngModel)]="filter" />
      </mat-form-field>
    </div>
  }
  @if (!shownItems?.length) {
    <span class="empty-text">{{ emptyText }}</span>
  }

  @for (item of shownItems; track item) {
    <button class="select-item" mat-menu-item (click)="selectItem($event, item)">
      <mat-icon class="check-icon" [style.visibility]="item.isSelected ? 'visible' : 'hidden'">check</mat-icon>
      <span class="tw-flex tw-gap">
        @if (colorEnabled && item['color']) {
          <span class="color-preview">
            <span class="color-preview-border"></span>
            <span class="dot" [style.background-color]="item['color']"></span>
            <span class="color-shine"></span>
          </span>
        }
        <span>{{ item.text }}</span>
      </span>
    </button>
  }
  <ng-content></ng-content>
</app-text-menu>
