.metric-title {
  opacity: 0.9;
}

.metric-list {
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: -16px;

  mat-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%;

    .metric-list-item {
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
    }
  }
}
