:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.metric-value-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  font-weight: 600;
}
