table {
  width: 100%;
}

.mat-column-time {
  text-align: right;

  &.mat-mdc-cell {
    font-size: 0.9em;
    line-height: 1.2em;
    opacity: 0.65;
  }
}

.mat-column-name {
  max-width: 72px;

  .name-cell {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .execution-info {
    font-size: 0.9em;
    opacity: 0.65;
  }

  app-job-state {
    font-size: 1.1em;
    align-self: flex-start;
  }
}
