.create-tag-form-row {
  display: flex;
  gap: 16px;
  padding-top: 3px;

  div {
    width: 50%;
    mat-form-field {
      width: 100%;
    }
  }
}

h1 {
  display: flex;
  margin-top: 16px;
}

.button-row {
  gap: 16px;
  display: flex;
  flex-direction: row;
  width: 100%;
  div {
    width: 50%;
  }
}

mat-dialog-content {
  padding-bottom: 0px !important;
}
