<div class="container" *ngIf="host$ | async as host">
  <app-page-header
    [backRoute]="['..', '..']"
    [parts]="[(companies$ | async | whereId : [host?.companyId])?.name, host.ip, (port$ | async)?.port]"
  ></app-page-header>

  <div class="content-wrapper">
    <div class="content">
      <findings-list [correlationKey]="(port$ | async)?.correlationKey"></findings-list>
    </div>

    <div class="context">
      <panel-section *ngIf="tags$ | async">
        <panel-section-title i18n="Tags|The tags of an item">Tags</panel-section-title>

        <panel-section-subtitle *ngIf="!host?.tags?.length" i18n="No tags yet|There are no tags for this item"
          >No tags yet</panel-section-subtitle
        >

        <app-pill-tag *ngFor="let tag of host?.tags" [color]="(tags | whereId : [tag])?.color">{{
          (tags | whereId : [tag])?.text
        }}</app-pill-tag>
      </panel-section>

      <panel-section>
        <panel-section-title i18n="Host|The ip related to a port">IP address</panel-section-title>
        <a [routerLink]="['/hosts', host._id]">{{ host.ip }}</a>
      </panel-section>
      <panel-section *ngIf="ports$ | async as ports">
        <panel-section-title i18n="Ports|An IP's related ports">Host Ports</panel-section-title>
        <div *ngFor="let port of ports$ | async">
          <a [routerLink]="['../..', 'ports', port.port]">{{ port.port }}</a>
        </div>

        <button
          panel-load-more
          *ngIf="((shownPortsCount$ | async) ?? 0) < (ports.length ?? 0)"
          (click)="shownPortsCount$.next(1000)"
        >
          Show more ({{ ports.length }})
        </button>
      </panel-section>
    </div>
  </div>
</div>
