mat-card {
  overflow: hidden;
  padding-bottom: 0;
}

.actions {
  display: flex;
  gap: var(--normal-gap-size);
  padding-bottom: 8px;
}

.table-container {
  margin: 0 -16px -16px -16px;
}

table {
  width: 100%;
}

.rows {
  cursor: pointer;
}

.rows:hover {
  background-color: rgb(243, 243, 243);
}

.mat-column-select {
  width: 48px;
  max-width: 48px;
  cursor: default;
  overflow: visible;
}

.mat-column-active {
  text-align: center;
}
