mat-card {
  overflow: hidden;
}

.table-container {
  margin: 0 -16px -16px -16px;
}

table {
  width: 100%;
}

.container {
  margin-bottom: 40px;
}

.center-column-content {
  text-align: center;
}

.rows {
  cursor: pointer;
}

.rows:hover {
  background-color: rgb(243, 243, 243);
}

.check-box-cell {
  cursor: default;
}

.left-action-button {
  margin: 10px 20px 20px 0px;
}

.right-action-button {
  margin: 10px 0px 20px 10px;
}

.button-container {
  width: 100%;
}
