.findings-list {
  display: flex;
  flex-direction: column;
  gap: var(--normal-gap-size);
}

.finding {
  margin-bottom: 12px;
}

.no-findings {
  width: 100%;
  text-align: center;
  opacity: 0.6;
  font-weight: 500;
}

.finding-wrapper {
  width: 100%;

  finding {
    margin: 32px 0;
  }

  mat-divider {
    margin-top: 4px;
    width: calc(100% + 32px);
    margin-left: -16px;
  }
}

.findings-paginator {
  display: flex;
  width: 100%;
  justify-content: center;
}

.break-words {
  word-break: break-word;
}
