.table-container {
  margin: 0 -16px -16px -16px;
}

table {
  width: 100%;
}

.container {
  margin-bottom: 40px;
}

.filter-chip-list {
  width: 100%;
}

mat-progress-bar {
  height: 3px;
  width: auto;
}

.date-picker-form {
  min-width: fit-content;
}

mat-hint {
  button:hover {
    text-decoration: underline;
  }
}

.grid-view {
  display: grid;
  gap: 10px;

  .grid-item {
    column-span: 1;
  }
}
