<div class="container" *ngIf="host$ | async as host">
  <app-page-header [parts]="[(companies$ | async | whereId : [host?.companyId])?.name, host.ip]"> </app-page-header>

  <div class="content-wrapper">
    <div class="content">
      <findings-list [correlationKey]="host.correlationKey"></findings-list>
    </div>

    <div class="context">
      <panel-section>
        <panel-section-title i18n="Tags|The tags of an item">Tags</panel-section-title>

        <panel-section-subtitle *ngIf="!host?.tags?.length" i18n="No tags yet|There are no tags for this item"
          >No tags yet —
          <app-text-select-menu
            [items]="tags$ | async"
            [buttonText]="manageTags"
            [filterText]="filterTags"
            [filterEnabled]="true"
            [colorEnabled]="true"
            [opacity]="0.8"
            (itemSelection)="itemSelected($event)"
          ></app-text-select-menu>
        </panel-section-subtitle>

        <app-pill-tag *ngFor="let tag of host?.tags" [color]="(tags | whereId : [tag])?.color">{{
          (tags | whereId : [tag])?.text
        }}</app-pill-tag>
      </panel-section>

      <panel-section>
        <panel-section-title i18n="Domains|An IP's related domains">Domains</panel-section-title>

        <panel-section-subtitle *ngIf="!host?.domains?.length" i18n="No domains yet|There are no domains for this item"
          >No domains yet</panel-section-subtitle
        >

        <div *ngFor="let domain of domains$ | async">
          <a [routerLink]="['/domains', domain.id]">{{ domain.name }}</a>
        </div>

        <button
          panel-load-more
          *ngIf="((shownDomainsCount$ | async) ?? 0) < (host?.domains?.length ?? 0)"
          (click)="shownDomainsCount$.next(1000)"
        >
          Show more ({{ host?.domains?.length }})
        </button>
      </panel-section>

      <panel-section>
        <panel-section-title i18n="Ports|An IP's related ports">Ports</panel-section-title>

        <panel-section-subtitle *ngIf="!host?.ports?.length" i18n="No ports yet|There are no ports for this item"
          >No ports yet</panel-section-subtitle
        >

        <div *ngFor="let port of ports$ | async">
          <a [routerLink]="['.', 'ports', port.port]">{{ port.port }}</a>
        </div>

        <button
          panel-load-more
          *ngIf="((shownPortsCount$ | async) ?? 0) < (host?.ports?.length ?? 0)"
          (click)="shownPortsCount$.next(1000)"
        >
          Show more ({{ host?.ports?.length }})
        </button>
      </panel-section>
    </div>
  </div>
</div>
