:host {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 16px;
  padding-top: 0;
}

mat-card {
  min-width: 380px;
  max-width: 768px;
  width: 100%;
}

mat-divider {
  margin-left: -16px;
  margin-right: -16px;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
  align-items: center;
}
