<div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="60">
        <mat-card-content>
            <h1>
                Profile
            </h1>
            <form  [formGroup]="form" >
                
                <h4>Edit Profile</h4>

                <mat-form-field class="formfieldinline">
                    <input matInput placeholder="First Name" name="firstName" formControlName="firstName">
                    <mat-error>
                      First name must not be empty
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="formfieldinline">
                    <input matInput placeholder="Last Name" name="lastName" formControlName="lastName">
                    <mat-error>
                      Last name must not be empty
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="formfieldblock">
                    <input matInput placeholder="Email" name="email" formControlName="email">
                    <mat-error>
                      Please provide a valid email address
                    </mat-error>
                </mat-form-field>

                <br>
                <mat-divider></mat-divider>
                <br>

                <h4>Change Password</h4>

                <mat-form-field class="formfieldblock">
                    <input matInput type="password" placeholder="New Password" name="password" formControlName="password">
                    <mat-error>
                        Password must have a minimal length of 12 characters
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="formfieldblock">
                    <input matInput type="password" placeholder="Confirm New Password" name="passwordConfirm" formControlName="passwordConfirm">
                    <mat-error>
                        The two passwords are not identical
                    </mat-error>
                </mat-form-field>
            </form>

            <br>
            <mat-divider></mat-divider>
            <br>

            <form #profileForm="ngForm" (ngSubmit)="onSubmit()">
                <h4>Validate Identity</h4>
                <mat-form-field class="formfieldblock">
                    <mat-label>Current Password</mat-label>
                    <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" [(ngModel)]="currentPassword" name="currentPassword" required>
                    <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
                        <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>
                        The current password must be provided to edit the profile
                    </mat-error>
                </mat-form-field>

                <mat-error *ngIf="!this.profileEditValid">
                    Please correct the invalid information before submitting
                </mat-error>

                <div class="center">
                    <button class="button" mat-raised-button color="primary" [disabled]="!profileForm.form.valid">Save Changes</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

