ul li {
  list-style: none;
}

.mat-toolbar {
  position: relative;
  z-index: 3;
  background: rgb(28, 28, 28);
  background: linear-gradient(328deg, rgba(28, 28, 28, 1) 0%, rgba(54, 54, 54, 1) 100%);
}

.color-preview {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;

  .color-preview-border {
    background-color: var(--mdc-outlined-card-outline-color);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .color {
    position: absolute;
    border-radius: 100%;
    top: 1px;
    right: 1px;
    left: 1px;
    bottom: 1px;
  }

  .color-shine {
    position: absolute;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(222, 222, 222, 0.05) 100%);
    border-radius: 100%;
    top: 1px;
    right: 1px;
    left: 1px;
    bottom: 1px;
  }
}

.check-icon {
  margin-right: 8px !important;
}
