ul li {
  list-style: none;
}

.mat-toolbar {
  position: relative;
  z-index: 3;
  background: rgb(28, 28, 28);
  background: linear-gradient(328deg, rgba(28, 28, 28, 1) 0%, rgba(54, 54, 54, 1) 100%);
}
