form {
}

form:focus-within {
}

ul li {
  list-style: none;
}

.stalker-header-search-field {
  color: #939fd6;
  max-width: 400px;
  margin-top: 10px;
}

.stalker-header-search-field:hover {
  color: white;
}

.stalker-header-search-field:focus-within {
  color: white;
}

.stalker-header-search-field {
  button {
    mat-icon {
      font-size: 1.2em;
    }
  }
}
