<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row fxLayout fxLayoutGap="16px">
    <div fxFlex fxLayoutAlign="flex-start center">
      <button mat-icon-button (click)="toggleSideBar()" *ngIf="showRouting">
        <mat-icon>menu</mat-icon>
      </button>
      <span fxHide.lt-sm="true" i18n="Main title|Main application title, the name of the product"
        >Stalker | Recon Automation</span
      >
    </div>

    <div [hidden]="!showRouting">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>person_outline</mat-icon>
        <span fxHide.lt-md="true">{{ email }}</span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon class="material-icons-outlined">badge</mat-icon>
    <label i18n="Profile|The user's profile">Profile</label>
  </button>
  <button mat-menu-item type="button" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <label i18n="Sign out|Link for a user to log out">Sign out</label>
  </button>
</mat-menu>
