:host {
  height: 100vh;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-rows: minmax(64px, 64px) auto minmax(64px, 64px);
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
  box-sizing: border-box;
}
