:host {
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(var(--mat-toolbar-standard-height), var(--mat-toolbar-standard-height)) auto;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
  box-sizing: border-box;
}
