:host {
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(64px, 64px) auto;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
  box-sizing: border-box;
}
