h2 {
  padding: 16px;
  padding-bottom: 0;
  margin-bottom: 8px;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
