
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  min-width: 380px;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
mat-form-field,
mat-checkbox {
  margin-top: 20px;
}

.formfieldblock {
  display: block;
}

.formfieldinline {
  width: 50%;
}

.button {
  min-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center {
  text-align: center;
}
