// http://mcg.mbitson.com/#!?mcgpalette0=%23ba1a1a&themename=mcgtheme
// https://material-foundation.github.io/material-theme-builder/
$primary: (
  50: #eceff1,
  100: #cfd8dc,
  200: #b0bec5,
  300: #90a4ae,
  400: #78909c,
  500: #607d8b,
  600: #546e7a,
  700: #455a64,
  800: #37474f,
  900: #263238,
  A100: #ffa89f,
  A200: #ff796c,
  A400: #ff4b39,
  A700: #ff341f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$accent: (
  50: #edece6,
  100: #d3cec1,
  200: #b6ae97,
  300: #988e6d,
  400: #82754e,
  500: #6c5d2f,
  600: #64552a,
  700: #594b23,
  800: #4f411d,
  900: #3d3012,
  A100: #ffd47a,
  A200: #ffc347,
  A400: #ffb314,
  A700: #f9a800,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn: (
  50: #f7e4e4,
  100: #eababa,
  200: #dd8d8d,
  300: #cf5f5f,
  400: #c43c3c,
  500: #ba1a1a,
  600: #b31717,
  700: #ab1313,
  800: #a30f0f,
  900: #940808,
  A100: #ffc1c1,
  A200: #ff8e8e,
  A400: #ff5b5b,
  A700: #ff4141,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
