@use '@angular/material' as mat;
@import './palette.scss';

@include mat.core();

:root {
  --density-scale: -2;
  --small-gap-size: calc(16px + var(--density-scale) * 4px);
  --normal-gap-size: calc(24px + var(--density-scale) * 4px);
}

$light-primary: mat.define-palette($light-primary, 500);
$light-accent: mat.define-palette($light-accent, 500, 300, 700);
$light-warn: mat.define-palette($light-warn);

$dark-primary: mat.define-palette($dark-primary, 500);
$dark-accent: mat.define-palette($dark-accent, 500, 300, 700);
$dark-warn: mat.define-palette($dark-warn);

$typography: mat.define-typography-config(
  $body-1:
    mat.define-typography-level(
      $font-size: 14px,
      $line-height: 24px,
    ),
  $button:
    mat.define-typography-level(
      $font-size: 13px,
    ),
  $caption:
    mat.define-typography-level(
      $font-size: 11px,
      $line-height: 11px,
    ),
);

$stalker-light: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
    density: -2,
    typography: $typography,
  )
);

$stalker-dark: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    density: -2,
    typography: $typography,
  )
);

@include mat.core-theme($stalker-light);
@include mat.all-component-themes($stalker-light);

.theme-light {
  --mat-table-background-color-hover: rgb(243, 243, 243);

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.theme-dark {
  @include mat.core-theme($stalker-dark);
  @include mat.all-component-themes($stalker-dark);

  --mat-table-background-color-hover: #4d4d4d;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Paginator
@include mat.paginator-density(-2);

// HACK: To add density-aware gap utility class to tailwind
.tw-gap-sm {
  gap: var(--small-gap-size);
}

.tw-gap-x-sm {
  column-gap: var(--small-gap-size);
}

.tw-gap-y-sm {
  row-gap: var(--small-gap-size);
}

.tw-gap,
.tw-gap-md {
  gap: var(--normal-gap-size);
}

.tw-gap-x,
.tw-gap-x-md {
  column-gap: var(--normal-gap-size);
}

.tw-gap-y,
.tw-gap-y-md {
  row-gap: var(--normal-gap-size);
}
