:host {
  height: 100vh;
  display: grid;
  grid-template-rows: var(--mat-toolbar-standard-height) auto;
}

@media screen and (max-width: 600px) {
  :host {
    grid-template-rows: var(--mat-toolbar-mobile-height) auto;
  }
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
  box-sizing: border-box;
}
