@use 'sass:map';
@use '@angular/material' as mat;

@mixin app-launch-jobs($theme) {
  $color-config: mat.get-color-config($theme);
  $accent-palette: map.get($color-config, 'accent');
  $accent: map.get($accent-palette, 'default');
  @debug $accent-palette;

  app-launch-jobs {
    .selected-job {
      box-sizing: border-box;
      border-left: 3px solid $accent;
      font-weight: 500;
    }
  }
}
