<div fxLayout="row" class="code-editor-container">
  <div fxFlex="45">
    <mat-card appearance="outlined" class="container">
      <mat-card-header>
        <mat-card-title i18n="Launch jobs|Starting jobs manually">Launch jobs</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div fxLayout="row">
          <button
            mat-flat-button
            color="primary"
            class="left-action-button"
            (click)="startJob()"
            [disabled]="this.authService.role === 'read-only'"
          >
            <label i18n="Start|Start the job">Start</label>
          </button>
        </div>

        <div class="table-container">
          @if ((dataSource$ | async) || true) {
            <table mat-table [dataSource]="dataSource">
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef i18n="Name|Name of an item">Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
              <!-- Source Column -->
              <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef i18n="Source|Source">Source</th>
                <td mat-cell *matCellDef="let element">{{ element.source }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="['name', 'source']"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: ['name', 'source']"
                class="rows"
                (click)="selectJob(row)"
                [class.selected-job]="selectedRow?.name === row.name"
              ></tr>
              <tr class="mat-row nodata" *matNoDataRow>
                <td class="mat-cell" colspan="100%" i18n="No job found|No job were found">No job found</td>
              </tr>
            </table>
          }

          <mat-paginator
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50, 100]"
            showFirstLastButtons
            aria-label="Select page"
          >
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  @if (companies$ | async) {
    <div fxFlex="55">
      <div fxLayout="column" class="code-editor-container">
        <mat-form-field appearance="outline">
          <mat-label i18n="Company|Company or business">Company</mat-label>
          <mat-select [(value)]="selectedCompany">
            <mat-option>None</mat-option>
            @for (company of companies$ | async; track company) {
              <mat-option value="{{ company.id }}">{{ company.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <h3 i18n="Input|Input of a job">Input</h3>
        <app-code-editor
          [(code)]="code"
          [language]="language"
          [minimapEnabled]="minimapEnabled"
          [theme]="theme"
          [readonly]="readonly"
          fxFlex
        ></app-code-editor>
        <h3 i18n="Output|Output of a job" class="output">Output</h3>
        <app-job-logs [jobId]="currentStartedJob?.id"></app-job-logs>
      </div>
    </div>
  }
</div>
