.mat-mdc-card {
  padding-bottom: 0;
  overflow: hidden;
}

.table-container {
  margin: 0 -16px -16px -16px;
}

table {
  width: 100%;
}

.rows:hover {
  background-color: rgb(243, 243, 243);
}

.check-box-cell {
  cursor: default;
}

.mat-column-select {
  width: 56px;
  max-width: 56px;
}

.nodata {
  text-align: center;
}

.create-tag-form-row {
  display: flex;
  gap: 16px;

  mat-form-field {
    flex: auto;
  }
}
