<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title i18n="Tags|Tags or labels">Tags</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="tw-flex tw-gap-4 tw-pt-2 tw-pb-4">
      <button mat-raised-button color="primary" (click)="openNewTagDialog(addTagDialog)">
        <mat-icon class="material-icons-outlined"> new_label </mat-icon>
        <label i18n="New tag|Button to create a new tag">New Tag</label>
      </button>
      <button mat-raised-button color="warn" (click)="deleteTags()">
        <mat-icon class="material-icons-outlined"> delete_outline </mat-icon>
        <label i18n="Delete|Delete an item">Delete</label>
      </button>
    </div>

    <div class="table-container">
      @if ((dataSource$ | async) || true) {
        <table mat-table [dataSource]="dataSource">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()" class="check-box-cell">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- Text Column -->
          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef i18n="Text|Text of an item">Text</th>
            <td mat-cell *matCellDef="let element">{{ element.text }}</td>
          </ng-container>
          <!-- Color Column -->
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef i18n="Color|Color of an item">Color</th>
            <td mat-cell *matCellDef="let element">{{ element.color }}</td>
          </ng-container>
          <!-- Tag Column -->
          <ng-container matColumnDef="tag">
            <th mat-header-cell *matHeaderCellDef i18n="Tag|A tag, or label, of an item">Tag</th>
            <td mat-cell *matCellDef="let element">
              <app-pill-tag [color]="element.color">{{ element.text }}</app-pill-tag>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['select', 'text', 'color', 'tag']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['select', 'text', 'color', 'tag']" class="rows"></tr>
          <tr class="mat-row nodata" *matNoDataRow>
            <td class="mat-cell" colspan="100%" i18n="No tags found|No tags were found for this item">No tags found</td>
          </tr>
        </table>
      }
    </div>
  </mat-card-content>
</mat-card>

<!-- Add tag Dialog Template -->
<ng-template #addTagDialog>
  <h1 mat-dialog-title i18n="Create Tag|Create a new tag or label">Create Tag</h1>

  <app-pill-tag
    class="tw-absolute tw-top-4 tw-right-4"
    [color]="newTagColor.hex ? '#' + newTagColor.hex : '#' + placeholderColor.hex"
    >{{ newTagText ? newTagText : 'Example' }}</app-pill-tag
  >

  <mat-dialog-content>
    <div class="create-tag-form-row">
      <mat-form-field appearance="outline">
        <mat-label i18n="Text|Text of an item">Text</mat-label>
        <input matInput name="text" [(ngModel)]="newTagText" />
      </mat-form-field>

      <!-- This element is the color picker. It is altered in the style.scss file
      to remove the alpha option of the rgba  values -->
      <mat-form-field appearance="outline">
        <input
          matInput
          [ngxMatColorPicker]="picker"
          [ngModel]="newTagColor"
          (ngModelChange)="newTagColor = $event ? $event : newTagColor"
        />
        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #picker [touchUi]="false" [color]="color"></ngx-mat-color-picker>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="createTag()" i18n="Create Tag|Create a new tag or label">
      Create Tag
    </button>
    <button mat-raised-button color="warn" matDialogClose i18n="Cancel|Cancel an action">Cancel</button>
  </mat-dialog-actions>
</ng-template>
