.metric-title {
  opacity: 0.9;
  font-size: 0.8rem;
}

.metric-list {
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: -16px;

  mat-list-item {
    border-bottom: 1px solid var(--mdc-outlined-card-outline-color);
    width: 100%;

    .metric-list-item {
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
    }
  }
}

a {
  padding: 0;
}
