.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(auto, 480px);
  justify-content: center;
  align-content: center;
}

.content {
  padding: 16px;
}
