<mat-card-content>
  <h1 i18n="Sign in|The login screen title">Sign In</h1>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label i18n="Email|A user's email">Email</mat-label>
      <input matInput [(ngModel)]="username" name="username" required />
      <mat-error i18n="Invalid email|Asking for the user to provide a valid email address"
        >Please provide a valid email address</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n="Password|Placeholder for a password form">Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" required />
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error i18n="Empty password|Asking for the user to provide a valid password"
        >Please provide a password</mat-error
      >
    </mat-form-field>

    <mat-error
      *ngIf="!loginValid"
      i18n="Invalid credentials|The credentials provided by the user were not recognized by the application"
    >
      Username and password combination were not recognized
    </mat-error>

    <button
      type="button"
      class="submitButton"
      mat-raised-button
      color="primary"
      [disabled]="!loginForm.form.valid"
      (click)="onSubmit()"
      i18n="Login|Login button text"
    >
      Login
    </button>
  </form>
</mat-card-content>
