<mat-card-content>
    <h1>Sign In</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="username" name="username" required>
            <mat-error>
              Please provide a valid email address
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
              Please provide a password
            </mat-error>
        </mat-form-field>

        <mat-error *ngIf="!loginValid">
            Username and password combination were not recognized
        </mat-error>

        <button type="button" class="submitButton" mat-raised-button color="primary" [disabled]="!loginForm.form.valid" (click)="onSubmit()">Login</button>

    </form>
</mat-card-content>
