<mat-card>
  <mat-card-title>{{ finding?.name }}</mat-card-title>

  <mat-card-content>
    <div class="field" *ngFor="let field of finding?.fields">
      <ng-container [ngSwitch]="field.type">
        <image-finding-field *ngSwitchCase="'image'" [data]="field"></image-finding-field>
        <text-finding-field *ngSwitchCase="'text'" [data]="field"></text-finding-field>
      </ng-container>
    </div>
  </mat-card-content>

  <span class="date">{{ finding?.created | timeAgo }}</span>
</mat-card>
