.mat-card-title {
  font-size: 16px;
}

mat-card-content {
  margin-bottom: 0;
}

.field {
  padding-bottom: 4px;
}

.date {
  position: absolute;
  right: 10px;
  bottom: 6px;
  opacity: 0.6;
  font-style: italic;
}
