<mat-grid-list cols="{{ columns$ | async }}" rowHeight="2:1" [gutterSize]="'10px'">
  <mat-grid-tile
    class="buttonTile"
    fxLayout="flex-start center"
    *ngIf="addCompanyClicked"
    (click)="addCompanyClicked = !addCompanyClicked"
  >
    <div class="imgContainer" fxFlex="40" fxLayoutAlign="center center">
      <mat-icon class="companyLogo material-icons-outlined">add_circle_outline</mat-icon>
    </div>
    <div fxFlex="60" class="textContainer" fxLayout="column">
      <div class="text" id="titleDiv" fxFlex="100">
        <h3 i18n="Create company|Add a company">Create a company</h3>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="mat-elevation-z4" fxLayout="flex-start center" *ngIf="!addCompanyClicked">
    <div class="uploadImgContainer" fxFlex="40">
      <app-image-upload [(previewSource)]="previewSource" [(fileSelected)]="fileSelected"></app-image-upload>
    </div>
    <div fxFlex="60" class="textContainer" fxLayout="column">
      <div class="text" id="titleDiv" fxFlex="100">
        <div fxLayout="column">
          <div fxFlex>
            <mat-form-field class="createCompanyForm" appearance="outline">
              <mat-label i18n="Company name|Name of the company">Company name</mat-label>
              <input matInput [formControl]="companyNameControl" required />
              <mat-error i18n="Company name required|Company name is required to create a company">
                Company name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex>
            <div fxLayout="row">
              <app-spinner-button
                [loadingState]="creationLoading"
                [label]="createLabel"
                id="createCompanyButton"
                (click)="createCompany()"
                fxFlex
              ></app-spinner-button>
              <button
                type="button"
                mat-raised-button
                color="warn"
                (click)="addCompanyClicked = !addCompanyClicked"
                fxFlex
                i18n="Cancel|Cancel action"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    class="buttonTile"
    *ngFor="let company of companies"
    fxLayout="flex-start center"
    [routerLink]="['/companies/', company._id]"
  >
    <div class="imgContainer" fxFlex="40" fxLayoutAlign="center center">
      <img *ngIf="company.logo" class="companyLogo" src="{{ company.logo }}" />
      <mat-icon *ngIf="!company.logo" class="companyLogo material-icons-outlined">{{
        defaultLogos[company.name.charCodeAt(0) % defaultLogos.length]
      }}</mat-icon>
    </div>
    <div fxFlex="60" class="textContainer" fxLayout="column">
      <div class="text" id="titleDiv" fxFlex="{{ company?.notes ? (titleFlex$ | async) : 100 }}">
        <h3>{{ company.name | truncate: [30, '...'] }}</h3>
      </div>
      <div *ngIf="company?.notes && (displayNotes$ | async)" class="text" fxFlex="66">
        <p>{{ company?.notes ? company.notes : ('' | truncate: [truncateNotes$ | async, '...']) }}</p>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
