.table-container {
  margin: 0 0px -16px 0px;
}

.rows:hover {
  background-color: rgb(243, 243, 243);
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.notes {
  margin-top: 15px;
}

.host-side-nav {
  margin-top: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
}

.selected-host {
  font-weight: bold;
}
