.table-container {
  margin: 0 0px -16px 0px;
}

.table-container-host {
  margin: 0 0px 0px 0px;
}

.rows:hover {
  background-color: rgb(243, 243, 243);
}

.rows-cursor {
  cursor: pointer;
  label {
    cursor: pointer;
  }
  span {
    cursor: pointer;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.notes {
  margin-top: 15px;
}

.host-side-nav {
  margin-top: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
}

.selected-host {
  font-weight: bold;
}

.port {
  margin-right: 5px;
}

mat-drawer {
  padding-left: 0px;
  min-width: 300px;
  max-width: 500px;
}

app-pill-tag {
  margin-left: 1px;
  margin-right: 4px;
  margin-top: 5px;
}

.ip-address {
  margin-left: 20px;
  margin-right: 20px;
}

.horizontal-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.horizontal-divider-important {
  // !important is required to counter the fact that this element is an inset mat-divider
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.fake-mat-subheader {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 10px;
}

.drawer-item {
  margin-left: 16px;
  margin-right: 16px;
}

.last-drawer-item {
  margin-bottom: 30px;
  mat-form-field {
    margin-top: 0px;
  }
}

.first-cell {
  .mat-cell {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.12);
  }
}

.table-container-host {
  max-height: 150px;
  overflow: scroll;
  width: 100%;
  table {
    max-height: 150px;
    overflow: scroll;
    width: 100%;
  }

  tr.mat-row {
    border: 1px solid #e7e7e7;
    height: 30px !important;
  }
}

.vertical-dvider {
  margin-left: 10px;
  margin-right: 10px;
}

.nodata {
  text-align: center;
}
