<div class="container" *ngIf="domain$ | async as domain">
  <app-page-header [parts]="[(companies$ | async | whereId : [domain?.companyId])?.name, domain.name]">
  </app-page-header>

  <div class="content-wrapper">
    <div class="content">
      <findings-list [correlationKey]="domain.correlationKey"></findings-list>
    </div>

    <div class="context">
      <panel-section>
        <panel-section-title i18n="Tags|The tags of an item">Tags</panel-section-title>

        <panel-section-subtitle *ngIf="!domain?.tags?.length" i18n="No tags yet|There are no tags for this item"
          >No tags yet</panel-section-subtitle
        >

        <app-pill-tag *ngFor="let tag of domain?.tags" [color]="(tags | whereId : [tag])?.color">{{
          (tags | whereId : [tag])?.text
        }}</app-pill-tag>
      </panel-section>

      <panel-section>
        <panel-section-title i18n="IP Address|A host's IP address">IP Addresses</panel-section-title>

        <panel-section-subtitle
          *ngIf="!(ipAddresses$ | async)?.length"
          i18n="No hosts yet|There are no hosts for this item"
          >No hosts yet</panel-section-subtitle
        >

        <div class="host" *ngFor="let ip of (ipAddresses$ | async) ?? []">
          <a [routerLink]="['/hosts', ip.id]">{{ ip.ip }}</a>

          <ul class="ports" *ngIf="(showAllPorts[ip.ip] ? ip.ports$ : ip.portsSubset$) | async as ports">
            <li *ngFor="let port of ports; let last = last" [routerLink]="['/hosts', ip.id, 'ports', port]">
              <a>{{ port }}</a>
            </li>
          </ul>

          <ng-container *ngIf="ip.numberOfPorts$ | async as numberOfPorts">
            <div
              class="show-more"
              *ngIf="!showAllPorts[ip.ip] && numberOfPorts > ((ip.portsSubset$ | async)?.length ?? 0)"
            >
              <button panel-load-more (click)="showAllPorts[ip.ip] = true">Show all ports ({{ numberOfPorts }})</button>
            </div>
          </ng-container>
        </div>

        <button
          panel-load-more
          *ngIf="((ipAddressesDataSourceShowCount$ | async) ?? 0) < (domain?.hosts?.length ?? 0)"
          (click)="ipAddressesDataSourceShowCount$.next(1000)"
        >
          Show more ({{ domain?.hosts?.length }})
        </button>
      </panel-section>
    </div>
  </div>
</div>
