<div class="container full-height" *ngIf="domain$ | async as domain">
  <mat-drawer-container class="full-height" autosize="true">
    <h1>
      <button type="button" mat-icon-button routerLinkActive="list-item-active" routerLink="/domains">
        <mat-icon class="material-icons-outlined">arrow_back</mat-icon>
      </button>
      <div *ngIf="domain">
        {{ (companies$ | async | whereId: [domain?.companyId])?.name }} / Domains / {{ domain.name }}
      </div>
    </h1>
    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title i18n="IP addresses|A host's IP address">IP addresses</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <table mat-table [dataSource]="(ipAddressesDataSource$ | async) ?? []">
            <!-- IP Address Column -->
            <ng-container matColumnDef="ipAddress">
              <th mat-header-cell *matHeaderCellDef i18n="IP Address|A host's IP address">IP Address</th>
              <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
            </ng-container>

            <!-- Ports -->
            <ng-container matColumnDef="ports">
              <th mat-header-cell *matHeaderCellDef i18n="Top ports|An overview of the top ports of the hosts">
                Top ports
              </th>
              <td mat-cell *matCellDef="let element">
                <span class="port" *ngFor="let p of element.ports$ | async; let last = last"
                  ><span>{{ p }}</span
                  ><span *ngIf="!last">, </span></span
                >
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              class="rows rows-cursor"
              (click)="selectHostAndView(row)"
              [class.selected-host]="(hostDetails$ | async)?._id === row.id"
            ></tr>

            <tr class="mat-row nodata" *matNoDataRow>
              <td class="mat-cell" colspan="100%" i18n="No hosts found|No hosts were found for this item">
                No hosts found
              </td>
            </tr>
          </table>

          <div class="show-all-button-wrapper">
            <button
              *ngIf="((ipAddressesDataSourceShowCount$ | async) ?? 0) < (domain?.hosts?.length ?? 0)"
              class="show-all-button"
              mat-button
              i18n="Show all|Call to action for loading all IP addresses related to a domain."
              (click)="ipAddressesDataSourceShowCount$.next(1000)"
            >
              Show all ({{ domain?.hosts?.length }})
            </button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title i18n="Note|A note">Note</mat-card-title>
        </mat-card-header>

        <mat-card-content class="note">You can't add a note yet.</mat-card-content>
      </mat-card>
    </div>

    <mat-drawer class="mat-elevation-z2" opened mode="side" position="end">
      <button mat-icon-button *ngIf="hostDetails$ != null" class="close-panel" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>

      <div *ngIf="hostDetails$ == null">
        <findings-list [correlationKey]="domain.correlationKey"></findings-list>
      </div>

      <div *ngIf="hostDetails$ | async as host">
        <host-details [host]="host" [company]="companies$ | async | whereId: [host?.companyId]"></host-details>
        <findings-list [correlationKey]="host.correlationKey"></findings-list>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
