<div class="full-height" *ngIf="domain$ | async as domain">
  <h1 fxLayoutAlign="flex-start center">
    <button type="button" mat-icon-button routerLinkActive="list-item-active" routerLink="/domains">
      <mat-icon class="material-icons-outlined">arrow_back</mat-icon>
    </button>
    <div *ngIf="domain">{{ (companies$ | async | whereId: [domain?.companyId]).name }} / {{ domain.name }}</div>
  </h1>

  <div class="content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Actions Buttons</mat-card-title>
        <mat-card-subtitle>Start</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Actions Buttons</mat-card-title>
        <mat-card-subtitle>Start</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content
        ><mat-list>
          <mat-list-item> lel </mat-list-item>
        </mat-list></mat-card-content
      >
    </mat-card>
    <mat-card> </mat-card>
  </div>

  <mat-drawer-container class="host-side-nav" autosize="true">
    <mat-drawer closed mode="side" position="end">
      <host-details
        *ngIf="hostDetails$ | async as host"
        [host]="host"
        [company]="companies$ | async | whereId: [host?.companyId]"
      ></host-details>

      <findings-list *ngIf="hostDetails$ | async as host" [correlationKey]="host.correlationKey"></findings-list>
    </mat-drawer>
  </mat-drawer-container>
</div>
