.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

h1 {
  padding-top: 16px;
  display: flex;
  align-items: center;
}

.content {
  margin: 16px;
  display: grid;
  gap: 16px;
}

.header {
  font-weight: 500;
}

table {
  // Accounts for the mat-card padding
  margin-left: -16px;
  width: calc(100% + 32px);

  tr {
    cursor: pointer;

    &:hover {
      color: #eee;
    }

    &.nodata {
      cursor: auto;
      opacity: 0.7;
      font-style: italic;
    }
  }
}

.show-all-button-wrapper {
  display: flex;
  justify-content: center;

  .show-all-button {
    margin-top: 8px;
    opacity: 0.6;
  }
}

mat-drawer {
  min-width: 500px;
  max-width: 500px;
}

.note {
  opacity: 0.7;
  font-style: italic;
}

.close-panel {
  position: absolute;
  top: 8px;
  right: 8px;
}

.selected-host {
  background-color: #f3f3f3;
}
