.clickable-text {
  text-decoration: none;
  letter-spacing: normal;
  vertical-align: middle;
  text-align: start;
  display: flex;
  cursor: pointer;
  width: 100%;

  label {
    cursor: pointer;
  }

  .center-on-icon {
    padding-top: 2px;
  }

  mat-icon {
    margin-right: 3px;
  }
}
