// http://mcg.mbitson.com/#!?mcgpalette0=%23ba1a1a&themename=mcgtheme
// https://material-foundation.github.io/material-theme-builder/
$light-primary: (
  50: #e5edf2,
  100: #bfd2df,
  200: #95b4ca,
  300: #6a96b5,
  400: #4a80a5,
  500: #2a6995,
  600: #25618d,
  700: #1f5682,
  800: #194c78,
  900: #0f3b67,
  A100: #9cc9ff,
  A200: #69adff,
  A400: #3692ff,
  A700: #1c84ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$light-accent: (
  50: #e5f2f1,
  100: #bfdfdd,
  200: #95cac6,
  300: #6ab5af,
  400: #4aa59d,
  500: #2a958c,
  600: #258d84,
  700: #1f8279,
  800: #19786f,
  900: #0f675c,
  A100: #9cfff1,
  A200: #69ffeb,
  A400: #36ffe4,
  A700: #1cffe0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$light-warn: (
  50: #f7e2e2,
  100: #ecb8b8,
  200: #df8888,
  300: #d25858,
  400: #c93535,
  500: #bf1111,
  600: #b90f0f,
  700: #b10c0c,
  800: #a90a0a,
  900: #9b0505,
  A100: #ffc7c7,
  A200: #ff9494,
  A400: #ff6161,
  A700: #ff4848,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$dark-primary: (
  50: #eaf3ff,
  100: #cae2ff,
  200: #a7ceff,
  300: #83baff,
  400: #69acff,
  500: #4e9dff,
  600: #4795ff,
  700: #3d8bff,
  800: #3581ff,
  900: #256fff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d3e1ff,
  A700: #b9cfff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-accent: (
  50: #fbe0e0,
  100: #f5b3b3,
  200: #ee8080,
  300: #e74d4d,
  400: #e22626,
  500: #dd0000,
  600: #d90000,
  700: #d40000,
  800: #cf0000,
  900: #c70000,
  A100: #ffefef,
  A200: #ffbcbc,
  A400: #ff8989,
  A700: #ff6f6f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-warn: (
  50: #f7e2e2,
  100: #ecb8b8,
  200: #df8888,
  300: #d25858,
  400: #c93535,
  500: #f56666,
  600: #b90f0f,
  700: #b10c0c,
  800: #a90a0a,
  900: #9b0505,
  A100: #ffc7c7,
  A200: #ff9494,
  A400: #ff6161,
  A700: #ff4848,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
