@use '@angular/material' as mat;
@import './palette.scss';

@include mat.core();

@import 'app/shared/widget/filtered-paginated-table/table-format/_table-format.component.scss';
@import 'app/shared/components/panel-section/_panel-section.component.scss';
@import 'app/shared/widget/code-editor/_code-editor.component.scss';
@import 'app/shared/widget/text-select-menu/_text-select-menu.component.scss';
@import 'app/modules/jobs/custom-jobs/_custom-jobs.component';
@import 'app/shared/widget/text-menu/_text-menu.component.scss';
@import 'app/modules/tags/manage-tags/_manage-tags.component.scss';
@import 'app/shared/widget/pill-tag/_pill-tag.component.scss';
@import 'app/modules/projects/list-projects/_list-projects.component.scss';
@import 'app/modules/jobs/launch-jobs/_launch-jobs.component.scss';
@import 'app/modules/websites/list-websites/_list-websites.component';

@mixin app-toggle-button($app-theme) {
  $accent: mat.get-theme-color($app-theme, accent, default);
  $accent-contrast: mat.get-theme-color($app-theme, accent, default-contrast);

  .mat-button-toggle-checked {
    background-color: $accent !important;
    color: $accent-contrast !important;
  }
}

:root {
  --density-scale: -2;
  --small-gap-size: calc(16px + var(--density-scale) * 4px);
  --normal-gap-size: calc(24px + var(--density-scale) * 4px);
}

$light-primary: mat.define-palette($light-primary, 500);
$light-accent: mat.define-palette($light-accent, 500, 300, 700);
$light-warn: mat.define-palette($light-warn);

$dark-primary: mat.define-palette($dark-primary, 500);
$dark-accent: mat.define-palette($dark-accent, 500, 300, 700);
$dark-warn: mat.define-palette($dark-warn);

$typography: mat.define-typography-config(
  $body-1:
    mat.define-typography-level(
      $font-size: 14px,
      $line-height: 24px,
    ),
  $button:
    mat.define-typography-level(
      $font-size: 13px,
    ),
  $caption:
    mat.define-typography-level(
      $font-size: 11px,
      $line-height: 11px,
    ),
);

$stalker-light: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
    density: -2,
    typography: $typography,
  )
);

$stalker-dark: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    density: -2,
    typography: $typography,
  )
);

@include mat.core-theme($stalker-light);
@include mat.all-component-themes($stalker-light);

@include app-table-format($stalker-light);
@include panel-section($stalker-light);
@include app-code-editor($stalker-light);
@include app-text-menu($stalker-light);
@include app-text-select-menu($stalker-light);
@include app-custom-jobs($stalker-light);
@include app-manage-tags($stalker-light);
@include app-pill-tag($stalker-light);
@include app-list-projects($stalker-light);
@include app-launch-jobs($stalker-light);
@include app-list-websites($stalker-light);
@include app-toggle-button($stalker-light);

.theme-light {
  // Duplication of the includes is required, otherwise the CSS is not applied exactly the same
  // for the dark and light theme and it causes some issues
  @include mat.core-theme($stalker-light);
  @include mat.all-component-themes($stalker-light);

  @include app-table-format($stalker-light);
  @include panel-section($stalker-light);
  @include app-code-editor($stalker-light);
  @include app-text-menu($stalker-light);
  @include app-text-select-menu($stalker-light);
  @include app-custom-jobs($stalker-light);
  @include app-manage-tags($stalker-light);
  @include app-pill-tag($stalker-light);
  @include app-list-projects($stalker-light);
  @include app-launch-jobs($stalker-light);
  @include app-list-websites($stalker-light);
  @include app-toggle-button($stalker-light);

  --mat-table-background-color-hover: rgb(243, 243, 243);
  --rks-card-second-level: rgb(253, 253, 253);

  *:not(button) a {
    text-decoration: none;

    &:hover {
      color: mat.get-theme-color($stalker-light, primary, default);
    }
  }

  color-scheme: light;
}

.theme-dark {
  @include mat.core-theme($stalker-dark);
  @include mat.all-component-themes($stalker-dark);

  @include app-table-format($stalker-dark);
  @include panel-section($stalker-dark);
  @include app-code-editor($stalker-dark);
  @include app-text-menu($stalker-dark);
  @include app-text-select-menu($stalker-dark);
  @include app-custom-jobs($stalker-dark);
  @include app-manage-tags($stalker-dark);
  @include app-pill-tag($stalker-dark);
  @include app-list-projects($stalker-dark);
  @include app-launch-jobs($stalker-dark);
  @include app-list-websites($stalker-dark);
  @include app-toggle-button($stalker-dark);

  --mat-table-background-color-hover: #4d4d4d;
  --rks-card-second-level: #4a4a4a;

  *:not(button) a {
    text-decoration: none;

    &:hover {
      color: mat.get-theme-color($stalker-dark, primary, default);
    }
  }

  color-scheme: dark;
}

// Paginator
@include mat.paginator-density(-2);

// HACK: To add density-aware gap utility class to tailwind
.tw-gap-sm {
  gap: var(--small-gap-size);
}

.tw-gap-x-sm {
  column-gap: var(--small-gap-size);
}

.tw-gap-y-sm {
  row-gap: var(--small-gap-size);
}

.tw-gap,
.tw-gap-md {
  gap: var(--normal-gap-size);
}

.tw-gap-x,
.tw-gap-x-md {
  column-gap: var(--normal-gap-size);
}

.tw-gap-y,
.tw-gap-y-md {
  row-gap: var(--normal-gap-size);
}
