mat-card {
    min-width: 380px;
}

mat-form-field, mat-checkbox {
    margin-top: 20px;
}

.formfieldblock {
    display: block;
}

.formfieldinline {
    width: 50%;
}

.button {
    min-width: 200px;
    margin: 10px;
}

.center {
    text-align: center;
}