app-image-upload {
  height: 60%;
}

.full-width {
  width: 100%;
}

.padding-20 {
  padding: 20px;
}

.pad-10 {
  padding: 0px 10px;
}

#title-text {
  margin-left: 10px;
}

mat-panel-title {
  label {
    cursor: pointer;
  }
}

.max-w300 {
  max-width: 300px;
}

.imageUpload {
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  margin-top: 3px;
  margin-bottom: 3px;
}

.button {
  width: 200px;
  margin: 10px;
}

.notes-padding {
  padding: 20px 20px 0px 20px;
}

mat-panel-description {
  margin-right: 0px;
}

.error-bang {
  margin-right: 10px;
}
