:host {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  padding-top: 0;
}

.content-wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 200px;
  max-width: 80%;
  width: 100%;
  gap: var(--normal-gap-size);
  align-self: center;
}

.show-all-button-wrapper {
  display: flex;
  justify-content: center;

  .show-all-button {
    margin-top: 8px;
    opacity: 0.6;
  }
}

.context {
  display: flex;
  flex-direction: column;
  gap: var(--normal-gap-size);
}

panel-section-title {
  width: 100%;
  display: flex;
  .manage-tags-menu {
    font-size: 0.9em;
    font-style: italic;
    display: inline-flex;
    width: 100%;
    app-text-select-menu {
      margin-left: 3px;
      width: 100%;
    }
  }
}
