<div class="findings-list" *ngIf="findings$ | async as findings">
  <div class="finding-wrapper" *ngFor="let finding of findings.items">
    <mat-card appearance="outlined">
      <finding [finding]="finding"></finding>
    </mat-card>
  </div>

  <div class="findings-paginator">
    <button
      *ngIf="findings.items.length < findings.totalRecords"
      mat-button
      color="primary"
      (click)="loadMoreFindings()"
      [disabled]="isLoadingMoreFindings$ | async"
    >
      <span class="load-more-findings">
        <mat-progress-spinner
          *ngIf="isLoadingMoreFindings$ | async"
          [mode]="'indeterminate'"
          [diameter]="16"
        ></mat-progress-spinner>
        <span>Load more</span>
      </span>
    </button>
  </div>
</div>

<mat-card appearance="outlined" *ngIf="!(findings$ | async)?.totalRecords" i18n="There are no finding yet|There are no finding yet">
  <span class="no-findings"> There are no finding yet </span>
</mat-card>
